.successMessage {
    margin-top: 2rem;
    text-align: center;
    line-height: 1rem;
    font-weight: bold;
}

.registerFormContainer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 350px;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.registerFormInput {
    padding: 0.5rem;
    border-radius: 10px;
}

.errorMessage {
    font-style: italic;
    color: red;
    font-size: 12px;
    text-align: justify;
}

.registerButton {
    width: fit-content;
    padding: 0.5rem;
    margin-top: 1rem;
    background-color: #add8e6;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
}

.registerButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

@media (max-width: 450px) {
    .registerFormContainer {
        width: 80vw;
    }

    .registerFormHeading {
        font-size: 16px;
    }

    .registerForm {
        font-size: 14px;
    }
}