.buttonsWrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.authenticatedWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.userGreeting {
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}
  
.signButton {
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    background-color: #add8e6;
    font-weight: bold;
    height: fit-content;
    align-self: center;
}

.signButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}